.application__page-content-embed {
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe,
    embed,
    object,
    video {
        border: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
