.link {
    align-items: center;
    background-color: var(--color-primary);
    border: var(--border-width) solid var(--color-primary);
    border-radius: var(--spacer-8);
    color: var(--color-foreground);
    display: inline-flex;
    outline: none;
    overflow: hidden;
    padding: calc(var(--text-1) / 4) calc(var(--text-2) / 2);
    text-decoration: none;
    transition:
        color var(--transition-timing) var(--transition-easing),
        background-color var(--transition-timing) var(--transition-easing),
        border-color var(--transition-timing) var(--transition-easing);
    white-space: nowrap;

    &:hover {
        background-color: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
        color: var(--color-foreground);
    }

    &--outline {
        background-color: transparent;
        border: var(--border-width) solid var(--color-foreground);

        &:hover {
            background-color: var(--color-foreground);
            border-color: var(--color-foreground);
            color: var(--color-background);
        }
    }
}
