.listen {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.first {
        margin-top: var(--spacer-3);
    }

    li {
        margin: var(--spacer-1);
    }
}
