@keyframes xxxxxxxooo-svg {
    0% {
        stroke-dashoffset: 666;
    }

    50% {
        stroke-dashoffset: 0;
    }

    75% {
        stroke-dashoffset: 666;
    }
}

@keyframes sttrs-svg {
    0%,
    70% {
        stroke-dashoffset: 6000;
    }

    70%,
    100% {
        stroke-dashoffset: 0;
    }
}

.application__page-header-xxxxxxxooo {
    display: flex;
    margin: 0;
    position: relative;

    a {
        display: block;
    }

    svg {
        display: block;
        height: calc(var(--text-1) * 1.5);

        polyline {
            animation: xxxxxxxooo-svg 6666ms cubic-bezier(.2, 1, .2, 1) infinite;
            fill: none;
            stroke: var(--color-primary);
            stroke-dasharray: 333;
            stroke-dashoffset: 666;
            stroke-linecap: square;
            stroke-linejoin: round;
            stroke-width: 5;

            &:nth-child(1) {
                animation-delay: 100ms;
            }

            &:nth-child(2) {
                animation-delay: 150ms;
            }

            &:nth-child(3) {
                animation-delay: 200ms;
            }

            &:nth-child(4) {
                animation-delay: 250ms;
            }

            &:nth-child(5) {
                animation-delay: 300ms;
            }

            &:nth-child(6) {
                animation-delay: 350ms;
            }

            &:nth-child(7) {
                animation-delay: 400ms;
            }

            &:nth-child(8) {
                animation-delay: 450ms;
            }

            &:nth-child(9) {
                animation-delay: 500ms;
            }

            &:nth-child(10) {
                animation-delay: 550ms;
            }

            &:nth-child(11) {
                animation-delay: 600ms;
            }

            &:nth-child(12) {
                animation-delay: 650ms;
            }

            &:nth-child(13) {
                animation-delay: 700ms;
            }

            &:nth-child(14) {
                animation-delay: 750ms;
            }

            &:nth-child(15) {
                animation-delay: 800ms;
            }

            &:nth-child(16) {
                animation-delay: 850ms;
            }

            &:nth-child(17) {
                animation-delay: 900ms;
            }

            &:nth-child(18) {
                animation-delay: 950ms;
            }

            &:nth-child(19) {
                animation-delay: 1000ms;
            }

            &:nth-child(20) {
                animation-delay: 1050ms;
            }
        }
    }
}

.application__page-header-sttrs {
    svg {
        display: block;
        height: var(--text-1);

        line,
        path {
            fill: none;
            stroke: var(--color-foreground);
            stroke-dasharray: 3000;
            stroke-dashoffset: 6000;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 15;
        }

        path {
            animation: sttrs-svg 6666ms cubic-bezier(.4, 0, .14, 1) forwards infinite;
        }

        line {
            animation: sttrs-svg 6666ms cubic-bezier(.4, 0, .14, 1) 666ms forwards infinite;
        }
    }
}
